<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
   
</head>

<body>
 <div class="login">
	<h1>ML Assignment 2 Neural Network Model Deployment</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<label for="f1">F1</label><br>
        <input type="text" name="f1" required="required" /><br><br>
        
        <label for="f2">F2</label><br>
        <input type="text" name="f2" required="required" /><br><br>
        
        <label for="f3">F3</label><br>
        <input type="text" name="f3" required="required" /><br><br>
        
        <label for="f4">F4</label><br>
        <input type="text" name="f4" required="required" /><br><br>
        
        <label for="f5">F5</label><br>
        <input type="text" name="f5" required="required" /><br><br>
        
        <label for="f6">F6</label><br>
        <input type="text" name="f6" required="required" /><br><br>
        
        <label for="f7">F7</label><br>
        <input type="text" name="f7" required="required" /><br><br>
        
        

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>